@use "sass:color";

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-serif: "Roboto Slab", serif;

$sobremi: #2e86c1;
$habilidades: #e74c3c;
$educacion:#17a589;
$experiencia: #f39c12;
$idiomas: #9b59b6;
$blanco: rgb(255, 255, 255);
$gris: #aab7b8;

$base-font-size: 22px;
